doctype html
html
  head
    title= title
    link(rel="stylesheet" href="/styles/bootstrap.css")
    link(rel="stylesheet" href="/styles/bootstrap-responsive.css")
    link(href="/styles/blog.css" rel="stylesheet")
  body
    div(class="page-wrapper")
      div(class="blog-masthead")
        div(class="container")
          nav(class="navbar-header")
            a(class="blog-nav-item" href="/") Главная
          div(class="navbar-collapse collapse")
            form(class="navbar-form navbar-right" role="form" method='post', action='../auth')
              input(type="hidden" name="_method" value="delete")
              if user
                div(class="btn-toolbar")
                  button(type="button" class="btn btn-success" onclick="location.href='/stat/id"+user._id+"'") Я
                  if user.role=='admin'
                    div(class="btn-group")
                      button(type="button" class="btn btn-success" onclick="location.href='/post/new'") Добавить запись
                  div(class="btn-group")
                    button(class="btn btn btn-success" type=submit) Выйти
              else
                button(type="button" class="btn btn-success" data-toggle="modal" data-target=".bs-modal-sm") Войти
      include modal
      div(class="container")
        div(class="blog-header")
          h1(class="blog-title")= blog_title
          p(class="lead blog-description")= blog_descr
      div(class="container")      
        div(class="row")
          div(class="col-sm-12 blog-main")
            block content
        div(class="page-buffer")
    div(class="blog-footer")
      p Created by Tai
        br
        a(href="#") Наверх
    script(src="http://code.jquery.com/jquery-latest.js")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js")