extends layout2
block append content
  div(class="blog-post")
    div(class="col-sm-4")
    div(class="col-sm-4")
      form(method='post', action='/registration' role="form")
        div(class="form-group")
          label(class="control-label" for="login") Логин:
          input(name='user[login]' type="login" class="form-control" required autofocus id="login")
        div(class="form-group")
          label(class="control-label" for="pass") Пароль: 
          input(name='user[pass]' type="password" class="form-control" required id="pass")
        div(class="form-group")
          button(class="btn btn btn-primary" type=submit) Сохранить